@model Eventos.Models.Evento
<html>
<head>
    <title>Detalles</title>
    <link rel="stylesheet" href="./css/show.css">
</head>
</html>

    <div class="container mt-5">
        <div class="card shadow-4 rounded-4 overflow-hidden">
            
            <div class="bg-image">
                <img src="@Model.Imagen" class="img-fluid w-100" />
            </div>
            <div class="card-body"> 
                <h2 class="fw-bold">@Model.Nombre</h2>
                <div class="d-flex gap-4 text-muted mb-3">
                    <span>@Model.Fecha</span>
                    <span>@Model.Ubicacion</span>
                </div>
    
                <hr />
                
                <h5>Descripción</h5>
                <p class="text-muted">@Model.Descripcion</p>
                    
            </div>
                
            <div class="mt-4 d-flex gap-2">

                <a asp-action="Index" class="btn btn-secondary">
                    Volver
                </a>
            </div>
        </div>
    </div>
